* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;
}

.main {
    height: 100vh;
    width: 100vw;
}

.heading {
    color: black;
    margin: 0% auto;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.emulator {
    background: url('../images/final1.png') no-repeat;
    margin: 0% auto;
    height: 550px;
    width: 280px;
    background-position: center;
    background-size: cover;
    position: relative;
}

#rotatebtn,
#lock {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.phone {
    background: url('../images/wallpaper.png') no-repeat;
    background-position: center;
    height: 400px;
    width: 260px;
    position: absolute;
    top: 70px;
    left: 10px;
    background-color: white;
}

.date-time {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.date-time img {
    height: 24px;
    width: 35px;
}

.date-time #time {
    font-size: 40px;
    font-weight: 300;
}

.lockscreen-bottom {
    color: white;
    text-align: center;
    padding-top: 220px;
    font-size: 12px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.lockscreen-bottom-middle {
    width: 70%;
    margin: 0% auto;
    padding-top: 10px;
}

.lockscreen-bottom-middle img {
    height: 10px;
    opacity: 0.5;
    filter: brightness(200%);
}

.lockscreen-bottom-right {
    width: 40px;
    height: 40px;
    float: right;
    padding-top: 10px;
    border-radius: 26px;
    background: navajowhite;
    opacity: 0.8;
    cursor: pointer;
}

.slider img {
    height: 10px;
    opacity: 0.5;
    margin: 0px 5px;
}

.center {
    text-align: center;
}


/* Passcode section */

.passcode {
    padding-top: 100px;
    display: none;
    filter: brightness(200%);
}

.slider {
    border-radius: 5px;
    height: 10px;
    filter: brightness(200%);
}

.passcode p {
    font-size: 20px;
}

.buttons {
    margin-left: 0%;
}

.passcode input {
    height: 60px;
    width: 60px;
    margin: 10px 4px;
    font-size: 25px;
    color: white;
    border: 3px solid white;
    border-radius: 35px;
    cursor: pointer;
    background: transparent;
}

.passcode input:hover {
    background: revert;
}


/* backbutton */

#back-button {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 130px;
    bottom: 29px;
    border: none;
    border-radius: 30%;
    opacity: 0.2;
}

.icon-set img {
    padding: 10px 0px;
    margin: 0px 7px;
    width: 50px;
}


/* camera */

.cam-bottom {
    width: 25px;
    height: 20px!important;
}


/* clock */

.clock {
    width: 220px;
    height: 220px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/clock.png);
    background-size: cover;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.clock:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 100000;
}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour,
.hr {
    width: 110px;
    height: 90px;
}

.clock .min,
.mn {
    width: 140px;
    height: 110px;
}

.clock .sec,
.sc {
    width: 180px;
    height: 130px;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 50px;
    background: #ff105e;
    z-index: 10px;
    border-radius: 6px 6px 0 0;
}

.mn:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 55px;
    background: #fff;
    z-index: 11px;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 70px;
    background: #fff;
    z-index: 12px;
    border-radius: 6px 6px 0 0;
}


/* Calendar */


/* (A) ENTIRE PAGE */

#cal-wrap * {
    font-family: arial, sans-serif;
}

.ninja {
    display: none !important;
}


/* (B) CONTAINER */

#cal-wrap {
    height: 400px;
    width: 260px;
    overflow: auto;
}


/* (C) PERIOD SELECTOR */

#cal-date {
    display: flex;
}

#cal-mth,
#cal-yr {
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 1.2em;
    border: 0;
}


/* (D) CALENDAR */

#calendar {
    width: 100%;
    border-collapse: collapse;
}

#calendar tr.head td {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: #f37070;
    padding: 15px;
    text-align: center;
}

#calendar tr.day td {
    border: 1px solid #ddd;
    width: 14.28%;
    padding: 15px 5px;
    vertical-align: top;
}

#calendar tr.day td:hover {
    background: #fff9e4;
    cursor: pointer;
}

#calendar tr td.blank {
    background: #f5f5f5;
}

#calendar tr td.today {
    background: #ffdede;
}

#calendar .dd {
    font-size: 1.2em;
    color: #999;
}

#calendar .evt {
    margin-top: 5px;
    font-size: 0.8em;
    font-weight: bold;
    overflow: hidden;
    color: #ff5d5d;
}


/* (E) ADD/EDIT EVENT */

#cal-event {
    padding: 15px;
    margin-top: 20px;
    background: #f5f5f5;
    border: 1px solid #ddd;
}

#cal-event h1 {
    color: #333;
    padding: 0;
    margin: 0;
}

#evt-date {
    color: #555;
    margin: 10px 0;
}

#cal-event textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    min-height: 100px;
}

#cal-event input[type=button],
#cal-event input[type=submit] {
    padding: 10px;
    margin: 5px;
    font-size: 1.2em;
    border: 0;
    background: #ea4c4c;
    color: #fff;
}


/* Music player */

.container {
    position: absolute;
    height: 400px;
    width: 260px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    box-shadow: 0 0 10px #000000;
}


/* container for play, pause, previous track, next track, and progress bar  */

.box {
    position: absolute;
    height: 40%;
    width: 100%;
    background: -webkit-linear-gradient(45deg, rgb(40, 40, 40), rgb(133, 133, 133));
    z-index: 4;
    bottom: 0;
}


/* album cover */

#thumbnail {
    position: absolute;
    width: 70%;
    top: 5%;
    transition: 1s;
    z-index: 3;
    border-radius: 100px;
}


/* track artist */

.song-artist {
    position: absolute;
    z-index: 4;
    color: rgb(193, 255, 6);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    bottom: 17%;
}


/* track title */

.song-title {
    position: absolute;
    z-index: 4;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    bottom: 12%;
}


/* style for play and pause images */

#play-pause {
    position: absolute;
    height: 50px;
    width: 50px;
    filter: invert(1);
    cursor: pointer;
    bottom: 24%;
    z-index: 4;
    font-size: 53px;
    left: 40%;
}


/* style for next and previous song images */

#next-song,
#previous-song {
    position: absolute;
    height: 30px;
    width: 30px;
    filter: invert(1);
    cursor: pointer;
    bottom: 26%;
    font-size: 40px;
    z-index: 4;
}


/* unique style for next song image */

#next-song {
    right: 18%;
}


/* unique style for previous song image */

#previous-song {
    right: 70%;
    bottom: 26%;
}


/* style for current time of the track */

.currentTime {
    position: absolute;
    height: 50px;
    width: 50px;
    cursor: pointer;
    bottom: -5%;
    left: 5%;
    z-index: 4;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;
    align-items: center;
}


/* style for the total length of the track */

.durationTime {
    position: absolute;
    height: 50px;
    width: 50px;
    cursor: pointer;
    bottom: -5%;
    right: -6%;
    z-index: 4;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    align-items: center;
    color: rgb(193, 255, 6);
}


/* style for the progress bar */

#progress-bar {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 4;
    height: 5px;
    background: #000000;
    width: 170px;
    bottom: 5%;
    border-radius: 30px;
    left: 18%;
}


/* style for the progress bar's slider thumb */

#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -8px;
    margin-left: 0px;
    height: 20px;
    width: 7px;
    border: 0;
    background: -webkit-linear-gradient(45deg, rgb(213, 213, 213), rgb(193, 255, 6));
    border-radius: 30px;
    cursor: pointer;
}


/* style for the progress bar's runnable track */

#progress-bar::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    max-height: 5px;
    border-radius: 30px;
}


/* style to remove blue shade of the progress bar when clicked on/selected */

#progress-bar:focus {
    outline: none;
}


/* calculator */

.calculator-app .buttons {
    padding-left: 5%;
}

.calculator-app input {
    height: 50px;
    width: 50px;
    margin: 5px;
    background: #333333;
    font-size: 30px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}

.calculator-app input[type='submit'] {
    width: 50px;
}


/* Weather App */

.weatherApp {
    margin: 0;
    background-color: linear-gradient(300deg, #757b87, #909d9d);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#search {
    padding: 0.5rem;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 200px;
}

.weather input:focus {
    outline: none;
}

.weather {
    text-align: center;
}

.weather h2 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Notes */

.memo-app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #333a4d;
}


/*NOTE*/

.note {
    width: 260px;
    height: 400px;
    background: lightyellow;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #eee;
}

input[type='text'] {
    border: none;
    display: block;
    background: transparent;
    border-bottom: 1px solid #eee;
    width: calc(100% - 6px);
    font-size: 20px;
    color: #545454;
}

textarea {
    border: none;
    height: calc(100% - 40px) !important;
    width: calc(100% - 10px) !important;
    background: transparent;
    color: #545454;
    font-size: 16px;
    margin: 5px 0 0;
}


/* image viewer */

.carousel-container {
    width: 260px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    bottom: 20px;
}

.carousel-container .navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    top: 40%;
    left: 10px;
    font-weight: 700;
}

.carousel-container .navigation .next {
    right: 10px;
    position: absolute;
    font-size: 25px;
    z-index: 10;
    top: 40%;
}

.carousel-container .navigation .nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.carousel-container .navigation .nav-btn:hover {
    background: white;
}

.carousel {
    margin-top: 20px;
    transition: all 0.3s ease;
}

.carousel img {
    width: 100%;
    transition: all 0.3s ease;
    /* border: 8px solid white; */
}

.caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.3);
    height: 35px;
}

.item {
    position: absolute;
    display: none;
}

.main-item {
    display: block;
}


/* Pencil App */

.pencil-app {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* canvas {
    border: 2px solid steelblue;
} */

.toolbox {
    background-color: steelblue;
    border: 1px solid slateblue;
    display: flex;
    width: 260px;
}

.toolbox>* {
    /* background-color: #fff; */
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 25px;
    width: 25px;
    margin: 0.25rem;
    padding: 0px;
    cursor: pointer;
}

.toolbox>*:last-child {
    margin-left: auto;
}


/* flappy bird */

#instruction {
    display: block;
    margin: 0 auto;
    text-align: center;
    top: 120px;
}

#instructionP2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    top: 330px;
    right: 13px;
    width: 90%;
    background: black;
    font-size: 14px;
}

#instructions {
    color: #000;
    text-align: center;
}

.before-start {
    position: relative;
    height: 400px;
    width: 260px;
    margin: auto;
    display: block;
    text-align: center;
}

.after-crash {
    position: absolute;
    height: 250px;
    width: 260px;
    margin: auto;
    bottom: 45px;
    left: 1px;
}

.before-start img {
    height: 400px;
    width: 260px;
}

.before-start .start-button {
    position: absolute;
    top: 75px;
    right: 85px;
    height: 40px;
    width: 90px;
}

.before-start p {
    position: absolute;
    top: 230px;
    right: 105px;
    font-size: 22px;
}

#instructions {
    display: none;
}

.after-crash {
    display: none;
}

.display-score {
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
    line-height: 25px;
}

.restart-instruction {
    background-color: red;
    color: #fff;
    padding: 5px;
    margin-top: 15px;
}


/* Target game */

#line {
    position: absolute;
    top: 0px;
    color: black;
    width: 260px;
    height: 100px;
    border-bottom: solid 1px red;
}

#target {
    width: 20px;
    height: 20px;
    background: red;
    position: absolute;
    top: 380px;
    right: 120px;
}